$primary-color:        #84c604;
$primary-color-active: #fd4f10;
$main-color-family:    #ffffff;
$second-color:         #32505a;
$footer-color: 		   #6b96a5;
$font-stack:             'Open Sans';
$sm:                     576px;
$md:                     768px;
$lg:                     992px;

@mixin flex($direction, $wrap, $content, $items, $align-content) {
    display: flex; 
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $content;
	align-items: $items;
	align-content: $align-content;
}

@mixin rotate($var) {
	transform: rotate($var);
}

%animation {
	transition: all 350ms ease-in-out;
}

%slow-animation {
	transition: all 650ms ease-out;
}

%scale {
    transform: scale(1.2);
}