.footer {
    padding: 67.3px 0 20px;
    background: #1a2d34;
    color: $footer-color;

    &__col {
        margin-bottom: 47px;
    }

    &__title {
        font-family: $font-stack;
        color: $main-color-family;
        font-size: 14px;
        margin-bottom: 12px;

        &--mobile {
            display: none;
        }
    }

    &__list {
        list-style: none;
    }

    &__link {
        color: $footer-color;
        text-decoration: underline;
        font-size: 12.8px;

        &:hover {
            color: $primary-color-active;
            text-decoration: none;
        }
    }

    &__item {

        &--1 {
            margin-left: -2px;
            max-width: 21%;
            flex: 0 0 21%;
        }

        &--2 {
            margin-left: 2px;
            max-width: 20%;
            flex: 0 0 20%;
        }

        &--3 {
            margin-left: 4px;
            max-width: 14%;
            flex: 0 0 14%;
        }

        &--4 {
            margin-left: 6px;
        }

        &--5 {
            margin-left: 6px;
            max-width: 20%;
            flex: 0 0 20%;
        }

        &--6 {
            margin-left: -3px;
        }

        &--7 {
            margin-right: -1px;
        }
    }
}

@media (max-width: $md)  {

    .footer {
        padding: 0px 0px 40px;    

        &__link {
            display: block;
            margin: 0px 0px 25px;
        }

        &__title {
            background: #1a2d34;
            margin: 0px;
            padding: 15px;
            border-bottom: 2px solid #20353d;

            &:after {
                content: "\f107";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                position: absolute;
                right: 20px;
                font-size: 24px;
                font-weight: 100;
                top: 13px;
            }

            &.active:after {
                content: "\f106";
            }

            &--mobile {
                display: block;
            }
        }

        &-list__link {
            font-family: Open Sans;
            font-size: 12px;
            color: #6b96a5;
            text-decoration: none;
            padding: 10px 0;
            line-height: 1.9;
        }

        &__item {
            width: 100%;
            flex: 100%;
            max-width: 100%;
            margin: 0px;
            padding: 0px;
            background: #20353d;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        &-list {
            display: none;

            &.active {
                display: block;
            }
        }

        .active:not(.footer__title) {
            padding: 20px 15px;

            .footer-list {
                display: block;
            }
        }

        &__col {
            margin-bottom: 0px;
        }

        &__col:last-child {
            @include flex(column-reverse, wrap, center, center, center); 
            text-align: center;
            background: #1a2d34;
            padding-top: 20px;
            margin-bottom: 10px;

            .footer__item {
                background: #1a2d34;
            }
        }
    }
}
