.footer-list {
    list-style: none;
    padding: 0px;
    margin: 0px; 

    &__item {
        margin-bottom: 3px;
    }

    &__link {  
        font-family: 'Open Sans';
        font-size: 14px;
        color: $main-color-family;
        text-decoration: none;
        padding: 10px 0px;

        &:hover {
            color: $primary-color-active;
        }
    }
}

.footer-sublist {

    &__item {
        margin-bottom: 2px;
    }

    &__link {  
        font-family: 'Open Sans';
        font-size: 12px;
        color: $footer-color;
        text-decoration: none;
        padding: 10px 0px; 
        line-height: 1.9;

        &:hover {
            color: $primary-color-active;
        }
    }
}



