.footer {
    padding: 67.3px 0 20px;
    background: #1a2d34;
    color: $footer-color;

    &__col {
        margin-bottom: 47px;
    }

    &__title {
        font-family: $font-stack;
        color: $main-color-family;
        font-size: 14px;
        margin-bottom: 12px;
    }

    &__list {
        list-style: none;
    }

    &__link {
        color: $footer-color;
        text-decoration: underline;
        font-size: 12.8px;

        &:hover {
            color: $primary-color-active;
            text-decoration: none;
        }
    }

    &__item {

        &--1 {
            margin-left: -2px;
            max-width: 21%;
            flex: 0 0 21%;
        }

        &--2 {
            margin-left: 2px;
            max-width: 20%;
            flex: 0 0 20%;
        }

        &--3 {
            margin-left: 4px;
            max-width: 14%;
            flex: 0 0 14%;
        }

        &--4 {
            margin-left: 6px;
        }

        &--5 {
            margin-left: 6px;
            max-width: 20%;
            flex: 0 0 20%;
        }

        &--6 {
            margin-left: -3px;
        }

        &--7 {
            margin-right: -1px;
        }
    }
}

@media (max-width: $md)  {

    .footer {
        padding: 40px 0px;    

        &__title {
            background: #1a2d34;
            margin: 0px;
            padding: 15px;
            border-bottom: 2px solid #20353d;
        }

        &__item {
            width: 100%;
            flex: 100%;
            max-width: 100%;
            margin: 0px;
            padding: 0px;
            background: #20353d;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        &-list {
            display: none;

            &.active {
                display: block;
            }
        }

        .active {

            .footer-list {
                display: block;
            }
        }

        &__col {
            margin-bottom: 0px;
        }

        &__col:last-child {
            @include flex(column-reverse, wrap, center, center, center); 
            text-align: center;
            margin-bottom: 47px;
            background: #1a2d34;
            padding-top: 20px;

            .footer__item {
                background: #1a2d34;
            }
        }
    }
}
