.home-slider {
    height: 675px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #24415f;    
    background-position: top center;

    &__photo {
        width: 100%;
        object-fit: cover; 
        object-position: center;   
        height: 675px;
    }
    
    &__item {
        height: 100%;
        overflow: hidden;
    }
 
    &__title {
        font-family: 'Lemon Tuesday';
        font-size: 110px;
        max-width: 472px;
        color: $primary-color;
        margin-bottom: 51px;
        letter-spacing: -1.6px;
        line-height: 0.899;
        margin-top: 131px;
    }

    &__text { 
        font-size: 25.5px;
        max-width: 418px; 
        color: #ffffff;    
        font-family: 'Open Sans';
        font-style: italic;
        margin: 0 12px 36px;
    }

    &__discount {
        color: white;
        font-weight: bold;
        font-size: 30px;
        background: rgb(183,31,36);
        background: linear-gradient(0deg, rgba(183,31,36,1) 0%, rgba(223,32,36,1) 100%);
        border-radius: 50%;
        width: 141px;
        height: 141px;
        text-align: center;
        line-height: 1.2;
        @include flex(row, wrap, center, center, center);
        position: absolute;
        top: 80px;
        left: 568px;
    }

    &__btn {
        margin-top: 18px;
        margin-left: 9px;
    }
}

.home {

    .swiper-button-next, .swiper-button-prev {
        color: white;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 7%;
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 7%;
    }

    span.swiper-pagination-bullet {
        margin: 0 10px !important;
        width: 15px;
        height: 15px;
        background: none;
        border: 3px solid white;
        opacity: 0.4;
        
        &.swiper-pagination-bullet-active {
            background-color: $primary-color;
            border-color: $primary-color;
            opacity: 1;
        }
    }

    .swiper-pagination.swiper-pagination-bullets {
        bottom: 40px;
    }
}

@media (max-width: $md)  {

    .home-slider {
        height: 242px;  
        min-height: 242px;

        &__photo {
            height: 242px; 
        }
     
        &__title {
            font-size: 49px;
            margin-bottom: 10px;
            margin-top: 12%;
        }
    
        &__text { 
            font-size: 12px;
            margin: 0px 0 20px;
        }
    
        &__btn {
            display: none !important;
        } 

        &__discount {
            font-size: 14px;
            width: 65px;
            height: 65px;
            top: 37%;
            right: 20px;
            left: inherit;
        }

        &__item {
            
            .content.container {
                height: 100%;
            }
        }
    }

    .home {

        .swiper-container {
            padding-bottom: 35px;
        }

        .swiper-pagination.swiper-pagination-bullets {
            bottom: 0px;
        }

        span.swiper-pagination-bullet {
            border: 3px solid #cfcfcf;
            width: 13px;
            height: 13px;
        }
    
        .swiper-button-next {
            display: none;
        }
    
        .swiper-button-prev {
            display: none;
        }
    }
}

 