.home-slider {
    height: 675px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #24415f;    
    background-position: top center;
    
    &__item {
        height: 100%;
        overflow: hidden;
    }
 
    &__title {
        font-family: 'Lemon Tuesday';
        font-size: 110px;
        max-width: 472px;
        color: $primary-color;
        margin-bottom: 51px;
        letter-spacing: -1.6px;
        line-height: 0.899;
        margin-top: 131px;
    }

    &__text { 
        font-size: 25.5px;
        max-width: 418px; 
        color: #ffffff;    
        font-family: 'Open Sans';
        font-style: italic;
        margin: 0 12px 36px;
    }

    &__discount {
        color: white;
        font-weight: bold;
        font-size: 30px;
        background: rgb(183,31,36);
        background: linear-gradient(0deg, rgba(183,31,36,1) 0%, rgba(223,32,36,1) 100%);
        border-radius: 50%;
        width: 141px;
        height: 141px;
        text-align: center;
        line-height: 1.2;
        @include flex(row, wrap, center, center, center);
        position: absolute;
        top: -16px;
        left: 598px;
    }

    &__btn {
        margin-top: 18px;
        margin-left: 9px;
    }
}

@media (max-width: $md)  {

    .home-slider {
        height: 100vh;    
        min-height: 320px;
     
        &__title {
            font-size: 25px;
            margin-bottom: 10px;
        }
    
        &__text { 
            font-size: 14px;
            margin: 0px 0 20px;
        }
    
        &__btn {
            margin-bottom: 0px;    
        } 
    }
}