@font-face {
    font-family: 'Lemon Tuesday';
    src: local('Lemon Tuesday'), local('LemonTuesday'), 
        url('../../assets/fonts/Lemontuesday.woff2') format('woff2'), 
        url('../../assets/fonts/Lemontuesday.woff') format('woff'), 
        url('../../assets/fonts/Lemontuesday.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}