@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), 
        url('../../assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), 
        url('../../assets/fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), 
        url('../../assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), 
        url('../../assets/fonts/OpenSans-RegularItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), 
        url('../../assets/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), 
        url('../../assets/fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}