.about {
    padding: 24px 0 147px;

    &__title.title {
        margin-bottom: 64px;
    }

    &__subtitle {
        margin-bottom: 31px;
    }

    &__photo {
        border-radius: 10px;
        max-width: 100%;
        margin-left: 4px;
        margin-top: 5px;
    }

    &__text {
        margin-right: 38px;

        p {
            margin-bottom: 20px;
            margin-left: 2px;
            line-height: 1.49;
        }
    }
}


@media (max-width: $md)  {

    .about {
    
        &__title:after {
            display: none;
        }

        &__title:before {
            display: none;
        }
    }

}