.quantity {
    @include flex(row, wrap, center, center, center);

    &__control {
        text-align: center;
        border: 0px;
        width: 37px;
        font-family: $font-stack;
        font-size: 14px;
        color: #000000;
    }

    &__operation {
        width: 13px;
        height: 13px;
        border: 1px solid #808080;
        color: #808080;
        border-radius: 50%;
        cursor: pointer;
        font-size: 6px;
        @include flex(row, wrap, center, center, center);

        &:hover {
            border-color: #444444;
            color: #444444;
        }

        &:focus,
        &:active {
            color: $primary-color-active;
            border-color: $primary-color-active;
        }
    }
}
