.social {

    &__link {
        text-decoration: none;
        font-size: 17px;
        background: #8d969a;
        color: #1a2d34;
        border-radius: 50%;
        width: 27px;
        height: 27px;
        @include flex(column, wrap, center, center, center);
        
        &:hover {
            color: $primary-color-active;

            .social__icon {
                transform: rotateX(360deg);
            }
        }
    }

    &__icon {
        padding: 8px;
        @extend %animation;
    }

    &__col {
        @include flex(row, wrap, flex-end, center, center);

        li {
            margin-left: 14px;
        }
    }
}


@media (max-width: $md)  {

    .social {

        &__col {
            @include flex(row, wrap, center, center, center);
        }
    }
}