.btn {
    font-family: $font-stack;  
    border-radius: 5px;    
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;  
    font-size: 13px;
    cursor: pointer;
    border:: 0px;
    text-decoration: none;
    @extend %animation;

    &--style-1 {
        color: $primary-color;
        border: 1px solid $primary-color;
    }

    &--style-2 {
        background-color: $primary-color-active;    
        color: #ffffff;

        &:hover {
            background-color: $primary-color;
        }
    }

    &--big {
        font-size: 16px;
        padding: 14px 50px;
        min-width: 246px;
    }

    &--mini {
        padding: 8px 29px 8px 29px;
    }
}

@media (max-width: $sm)  {

    .btn {
        padding: 11px 17px 10px;

        &--middle {
            padding: 11px 20px 11px 20px;
        }

        &--mini {
            padding: 5px 27px;
        }
    }
}