* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

body {
    max-width: 100%;    
    margin: 0 auto;    
}

main {
    margin-top: 150px;
}

a {
    @extend %animation;
    
    &:hover {
        color: initial;
        text-decoration: none;
    }
}

.text {
    color: #4c4c4c;
    font-family: $font-stack;
    font-size: 14px;

    p {
        @extend .text;
    }
}

.content {
    position: relative;
    max-width: 1170px;    
    margin: 0 auto;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}
