.title {
    font-family: 'Lemon Tuesday';
    font-size: 58px;
    color: $second-color;    
    margin-bottom: 40px;
    position: relative;

    &--invert {
        color: invert($second-color);
    }

    &:before {
        content: "";
        background-image: url(../../assets/title.png);
        width: 120px;
        height: 60px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-left: -144px;
        margin-top: 2px;
    }

    &:after {
        @extend .title:before;
        margin-left: 26px;
        transform: scale(-1, 1);
    }
}

.subtitle {
    font-family: $font-stack;
    font-weight: bold;
    color: $second-color;
    font-size: 24px;
}

@media (max-width: $md)  {

    .title {
        font-size: 44px;
        margin-bottom: 15px;
    }

    .title:before {
        width: 74px;
        height: 27px;
        margin-top: 9px;
        margin-left: -82px;
    }

    .title:after {
        width: 74px;
        height: 27px;
        margin-top: 9px;
        margin-left: 15px;
        transform: scale(-1, 1);
    }

    .subtitle {
        font-size: 20px;
    }
}