.title {
    font-family: 'Lemon Tuesday';
    font-size: 58px;
    color: $second-color;    
    margin-bottom: 40px;
    position: relative;

    &--invert {
        color: invert($second-color);
    }

    &:before {
        content: "";
        background-image: url(../../assets/title.png);
        width: 120px;
        height: 60px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-left: -144px;
        margin-top: 2px;
    }

    &:after {
        @extend .title:before;
        margin-left: 26px;
        transform: scale(-1, 1);
    }
}

.subtitle {
    font-family: $font-stack;
    font-weight: bold;
    color: $second-color;
    font-size: 24px;
}

@media (max-width: $lg)  {

    .title {
        font-size: 37px;
        margin-bottom: 30px;
    }
}

@media (max-width: $md)  {

    .title {
        font-size: 27px;
        margin-bottom: 15px;
    }
}