.header {
    width: 100%;
    padding: 10px 0px 0px;

    &__nav {
        padding: 0px;
    }

    &__logo {
        text-align: left;

        img {
            width: 190px;
            height: 69px;
        }
    }

    &__navbar-toggler {
        color: white;
        position: fixed;
        right: 35px;
        top: 30px;
        background: rgba(0, 0, 0, 0.28);
        padding: 10px 15px;
        z-index: 2;

        .fa {
            width: 13px;
        }
    }

    &__navbar-collapse {
        justify-content: space-between;
        @extend %animation;
    }

    &__contact {
        min-height: 41px;
        margin-right: 28px;
    }

    &__phone {
        color: #010101;
        font-weight: bold;
        font-size: 17.2px;
        text-decoration: none;
        line-height: 1;

        &:hover {
            text-decoration: underline;
        }
    }

    &__time {
        color: #010101;
        font-size: 10.2px;
        margin-left: 2px;
        margin-top: 1px;
    }

    &__middle {
        border-top: 1px solid #f2f2f2;
    }

    &__top {
        padding: 0px 0px 20px;
    }
    
}

@media (max-width: $md)  {

    .header {

        &__navbar-toggler {

            .fa-times {
                display: block;
            }

            .fa-bars {
                display: none;
            }

            &.collapsed {

                .fa-times {
                    display: none;
                }

                .fa-bars {
                    display: block;
                }
            }
        }

        &__navbar-collapse {
            position: fixed;
            width: 100vw;
            top: 0px;
            left: 0px;
            background: rgba(0, 0, 0, 0.83);    
            z-index: 1;    
            overflow: hidden;

            &.show {
                height: 100vh;
                min-height: 300px;
            }

            .nav__list {
                margin: 0px;
                max-width: 100%;
                @include flex(column, nowrap, center, center, center);
                width: 100%;
                height: 100%;
            }

            .nav__item {
                margin: 0px;
            }

            .nav__link {
                font-size: 16px;    
                padding: 10px 50px;
            }
        }
    }
}

@media (max-width: $sm)  {
    
    .header {
        padding: 27px 0;

        &__navbar-toggler {
            right: 15px;
            top: 20px;
        }

        &__navbar-collapse {

            .nav__link {
                font-size: 14px;    
            }
        }
    }
}