.nav {

    &__item {

        &--personal {

            .nav__link {
                padding: 13px 27px;
                margin-right: 0px;
            }
        }
    }

    &__list {
        list-style: none;	
        @include flex(row, wrap, space-between, stretch, stretch); 
        margin-bottom: 0px;
    }

    &__link {
        display: inline-block;
        text-transform: uppercase;
        font-family: $font-stack;
        font-size: 14px;
        font-weight: bold;
        color: #000000;   
        padding: 13px 31px;
        margin-right: 2px;
        height: 100%;

        &--active {
            color: $primary-color;
        }

        &:hover {
            color: $main-color-family;   
            background-color: $primary-color;
            text-decoration: none;  
        }
    }
}