.nav {

    &__item {

        &:last-child {
        }
    }

    &__list {
        list-style: none;	
        @include flex(row, wrap, flex-start, flex-start, flex-start); 
        margin-bottom: 0px;
    }

    &__link {
        display: inline-block;
        text-transform: uppercase;
        font-family: $font-stack;
        font-size: 14px;
        font-weight: bold;
        color: #000000;   
        padding: 15px 30px;

        &--active {
            color: $primary-color;
        }

        &:hover {
            color: $main-color-family;   
            background-color: $primary-color;
            text-decoration: none;  
        }
    }
}